html, body {
	margin: 0;
	padding: 0;
}
input {
	display: none;
}
label {
	font-size: 30px;
	position: fixed;
	z-index: 2;
	left: 10px;
}i {
  	color: red;
  	cursor: pointer;
}
#check:checked ~ .barra-lateral {
  	transform: translate(300px);
}
.barra-lateral {
  	width: 300px;
  	height: 100vh;
  	position: fixed;
  	background-color: #000;
  	padding-top: 50px;
  	z-index: 1;
  	left: -300px;
  	transition: all 0.35s linear;
}
nav {
  	margin-left: 10px;
}

a {
  	color: #fff;
  	text-decoration: none;
}

a div {
  	margin-bottom: 15px;
}
